<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>स्त्री SVASTH</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="/static/css/bootstrap.min.css">
      <link href="/static/lib/flaticon/font/flaticon.css" rel="stylesheet">
      <!-- style css -->
      <link rel="stylesheet" href="/static/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="/static/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="/static/Images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="/static/css/jquery.fancybox.min.css" media="screen">

   </head>
   <!-- body -->
   <body class="main-layout">
  
      <!-- header -->
      <!-- <header>
       

      </header> --> 
      <div class="navbar navbar-expand-lg bg-dark navbar-dark">
         <div class="container-fluid">
                     <figure><img src="/static/Images/logo1.png" style="height: 80px;" alt="img"/></figure>
             <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                 <span class="navbar-toggler-icon"></span>
             </button>

             <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                 <div class="navbar-nav ml-auto">
                     <a href="#index" class="nav-item nav-link active"><strong>Home</strong> </a>
                     <a href="#about" class="nav-item nav-link"><strong>About</strong></a>
                     <a href="#dashboard" class="nav-item nav-link"><strong>Dashboard</strong></a>
                     <a href="#stroke prediction" class="nav-item nav-link"><strong>Stroke Prediction</strong></a>
                     <a href="#NGO" class="nav-item nav-link"><strong>NGO</strong></a>
                     <a href="#YOGA" class="nav-item nav-link"><strong>Yoga</strong></a>
                     <a href="#testimonial" class="nav-item nav-link"><strong>Contact Us</strong></a>

                 </div>
             </div>
         </div>
     </div>
      <!-- end header -->
      <section class="slider_section">
          <div id="myCarousel" class="carousel slide banner-main" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <img width="100%" class="first-slide" src="/static/Images/q.jpg" alt="First slide">
                  <div class="container">
                     <div class="carousel-caption relative">
                        <h1> Sustainability SDG</h1>
                         <p >
                           <strong > SDG (Sustainable Development Goal) 5 <br>  aims to achieve gender equality by ending all forms of discrimination, violence and any harmful practices against women and girls in the public and private spheres.</br></strong>
                           
                           </p>
                       
                     </div>
                  </div>
               </div>
            
         </div>
      </section>
      
      <!-- about  -->
      <div id="about" class="about top_layer">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>About <strong style=color:Green>स्त्री SVASTH</strong></h2>
                     <span>Our mission is to make an appeal to women that they should give priority
                        to their health and fight against the injustice they face socially. In some 
                        countries, girls are deprived of access to health care or proper nutrition, 
                        leading to a higher mortality rate. Mental health is a prerequisite for physical health and is
                         strongly interlinked with other development factors such as poverty, work and economic growth, 
                         or peace and justice. Gender inequality in women's safety includes unequal legal rights that make women vulnerable to domestic violence. We achieve our goal by encouraging women to stay informed about various campaigns and yoga postures.</span>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="img-box">
                     <figure><img src="/static/Images/mp.JPG" style="height: 500px; ;" alt="img"/></figure>
                     <!-- <a href="#">read more</a> -->
                     
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end abouts -->
      <div id="dashboard" class="about top_layer">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Violence Against <strong style=color:Green>Women </strong></h2>
                     <span>Violence against women is caused by gender inequality – including unequal power relations 
                        between women and men, rigid gender roles, norms and hierarchies, and ascribing women lower status
                         in society. Promoting and achieving gender equality is a critical element of the prevention of
                          violence against women. </span>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="img-box">
                     <figure><img src="/static/Images/wp.jpeg" style="height: 350px; width: 700px; " alt="img"/></figure>
                     <a target="_blank" href="<a target="_blank" href="https://app.powerbi.com/view?r=eyJrIjoiMjhhZjdiZTktNmQxNS00NjM1LWI1OTctNDVhMTMzMjgwZGQ2IiwidCI6Ijc2YTJhZTVhLTlmMDAtNGY2Yi05NWVkLTVkMzNkNzdjNGQ2MSIsImMiOjh9">View Dashboard</a>">View Dashboard</a>
                     
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div id="stroke prediction" class="about top_layer">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2><strong style=color:Green>Stroke Prediction </strong></h2>
                     
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="img-box">
                     <figure><img src="/static/Images/BE.jpeg" alt="img"/></figure>
                     <a target="_blank"  href="{{url_for('Stroke')}}">Predict Your's</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- service --> 
      <div id="NGO" class="service">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Consultation Through <strong style=color:Green>NGO </strong></h2>
                     <span>Some non-governmental organisations (NGOs) offer doctor consultations and information about stroke and the symptoms associated with it, as well as advice on how to reduce stress and prevent stroke.</span>
                  </div>
               </div>
            </div>
         </div>
         <div class="container margin-r-l">
            <div class="row">  
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 thumb">
               
                <h3 style="text-align:center ;"><strong>Stroke Foundation</strong></h3>
                  <div class="service-box">
                     
                     <figure>
                        
                        <img  src="/static/Images/dp.jpg" class="zoom img-fluid "  alt="">
                        </a>
                        <span class="hoverle">
                        <a target="_blank" href="https://strokefoundation.org.au/contact-us" class="fancybox" rel="ligthbox">Stroke Foundation</a>
                        </span>  
                     </figure>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 thumb">
                  <h3 style="text-align:center ;"><strong> Bapu Trust</strong></h3>
                  <div class="service-box">
                     <figure>
                       
                        <img  src="/static/Images/ns.jpeg" class="zoom img-fluid "  alt="">
                        </a>
                        <span class="hoverle">
                        <a target="_blank" href="https://baputrust.com/" class="fancybox" rel="ligthbox">Bapu Trust</a>
                        </span>
                     </figure>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 thumb">
                  <h3 style="text-align:center ;"><strong>Majlis NGO</strong></h3>
                  <div class="service-box">
                     <figure>
                       
                        <img  src="/static/Images/img2.jpg" class="zoom img-fluid "  alt="">
                        </a>
                        <span class="hoverle">
                        <a target="_blank" href="https://majlislaw.com/" class="fancybox" rel="ligthbox">Majlis NGO</a>
                        </span>
                     </figure>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 thumb">
                  <h3 style="text-align:center ;"><strong>World stroke Organization</strong></h3>
                  <div class="service-box">
                     <figure>
                        
                        <img  src="/static/Images/img3.jpg" class="zoom img-fluid "  alt="">
                        </a>
                        <span class="hoverle">
                        <a target="_blank" href="https://www.world-stroke.org/#" class="fancybox" rel="ligthbox">World stroke Organization</a>
                        </span> 
                     </figure>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 thumb">
                  <h3 style="text-align:center ;"><strong>Indian stroke Organization</strong></h3>
                  <div class="service-box">
                     <figure>
                       
                        <img  src="/static/Images/ind.jpg" class="zoom img-fluid "  alt="">
                        </a>
                        <span class="hoverle">
                        <a target="_blank" href="http://www.stroke-india.org/" class="fancybox" rel="ligthbox">Indian stroke Organization</a>
                        </span> 
                     </figure>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <h3 style="text-align:center ;" ><strong>The Stroke Network</strong></h3>
                  <div class="service-box">
                     <figure>
                        
                        <img  src="/static/Images/net.jpg" class="zoom img-fluid "  alt="">
                        </a>
                        <span class="hoverle">
                        <a target="_blank" href="http://www.strokenetwork.org/" class="fancybox" rel="ligthbox">The Stroke Network</a>
                        </span>
                     </figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end service -->
      <!-- Download -->
      <div id="YOGA" class="download">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2 >What to ,<strong style=color:Green>"Do in Yoga"</strong> </h2>
                     <span>Studies indicate that holistic practices such as yoga aid in the prevention, management and recovery of stroke in people. Mindfulness-based exercises like meditation, yoga and Tai Chi help to lower blood pressure, blood sugar and cholesterol, which are all risk factors for stroke.</span>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div id="main_slider" class="carousel slide banner-main" data-ride="carousel">
                     <div class="carousel-inner">
                        <div class="carousel-item active"> <img class="first-slide" src="/static/Images/1.png" alt="First slide"> </div>
                        <div class="carousel-item"> <img class="second-slide" src="/static/Images/1.jpg" alt="Second slide"> </div>
                        <div class="carousel-item"> <img class="third-slide" src="/static/Images/9.jpg" alt="Third slide"> </div>
                     </div>
                     <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev"> <i class='fa fa-angle-left'></i></a> <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next"> <i class='fa fa-angle-right'></i></a> 
                  </div>
                  <div class="read-more">
                     <a target="_blank" href="{{url_for('yoga')}}">Explore Asanas</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end Download -->
      <!-- Testimonial -->
      <div id="testimonial" class="testimonial">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <!-- <h3>Contact Us</h3> -->
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div id="testimonial_slider" >  <!-- class="carousel slide banner-bg" data-ride="carousel"  -->
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <img src="/static/Images/8.jpg" style="height: 400px ;">
                           <div class="container">
                              <div class="carousel-caption relat">
                                 
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           
                           <div class="container">
                              <div class="carousel-caption relat">
                                 
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           
                           <div class="container">
                              <div class="carousel-caption relat">
                                 
                              </div>
                           </div>
                        </div>
                     </div>
                    
                  </div>
               </div>
               
               <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  <div class="contact">
                     <h3>Contact Us</h3>
                     <form action="/explore">
                        <div class="row">
                           <div class="col-sm-12">
                              <input class="contactus" placeholder="*Name" type="text" name="Name" required="required">
                           </div>
                           <div class="col-sm-12">
                              <input class="contactus" placeholder="*Phone" type="number" name="Phone" required="required">
                           </div>
                           <div class="col-sm-12">
                              <input class="contactus" placeholder="*Email" type="email" name="Email" required="required">
                           </div>
                           <div class="col-sm-12">
                              <textarea class="textarea" placeholder="*Message" type="text" name="Message" required="required"></textarea>
                           </div>
                           <div class="col-sm-12">
                              <div class="read-more">
                                 <button type="submit" value="Upload" target="_blank" href="{{url_for('explore')}}">Send</button>
                              </div>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end Testimonial  -->
     
            <div class="copyright">
               <p>© 2022 Women Health Monitor by CG Millennial Garage <a href="http://www.capgemini.com/"> <strong>Capgemini !!</strong></a></p>
            </div>
         </div>
       
       
      <!-- end footer -->
      <!-- Javascript files--> 
      <script src="/static/js/jquery.min.js"></script> 
      <script src="/static/js/popper.min.js"></script> 
      <script src="/static/js/bootstrap.bundle.min.js"></script> 
      <script src="/static/js/jquery-3.0.0.min.js"></script> 
      <script src="/static/js/plugin.js"></script> 
      <!-- sidebar --> 
      <script src="/static/js/jquery.mCustomScrollbar.concat.min.js"></script> 
      <script src="/static/js/custom.js"></script>
      <script src="/static/js1/fancybox.js"></script>
     
      

   </body>
   <script>
      $(document).ready(function(){
      $(".fancybox").fancybox({
      openEffect: "none",
      closeEffect: "none"
      });
      
      $(".zoom").hover(function(){
      
      $(this).addClass('transition');
      }, function(){
      
      $(this).removeClass('transition');
      });
      });
      
   </script> 

</html>