<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>स्त्री SVASTH</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="/static/img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="/static/lib/animate/animate.min.css" rel="stylesheet">
        <link href="/static/lib/flaticon/font/flaticon.css" rel="stylesheet"> 
        <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="/static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="/static/css1/style.css" rel="stylesheet">
    </head>

    <body>
      

        <!-- Nav Bar Start -->
        <div class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container-fluid">
                <a href="index.html" class="navbar-brand">स्त्री<span> SVASTH</span></a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a href="#index" class="nav-item nav-link active"> Home</a>
                        <a href="#about" class="nav-item nav-link">About</a>
                        <a href="#Surya Salution" class="nav-item nav-link">Surya Namaskar</a>
                        <a href="#yoga with health" class="nav-item nav-link">Yoga for health</a>
                        <a href="#Yoga" class="nav-item nav-link">Tutorial</a>

                    </div>
                </div>
            </div>
        </div>
        <!-- Nav Bar End -->


        <!-- Hero Start -->
        <div id="index" class="hero">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-6">
                        <div class="hero-text">
                            
                            <h1>Yoga For Good Health</h1>
                            <p>
                        Yoga involves a combination of poses, meditation, 
                        breathing, and observation techniques. It’s about fostering your mind-body connection,
                         which can greatly benefit stroke recovery.


                            </p>
                            
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 d-none d-md-block">
                        <div class="hero-image">
                            <img src="/static/img/bc.png" alt="Hero Image"> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->


        <!-- About Start -->
        <div id="about" class="about wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-6">
                        <div class="about-img">
                            <img src="/static/img/about.png" alt="Image">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <div class="section-header text-left">
                          
                            <h2>About Vision</h2>
                        </div>
                        <div class="about-text">
                            <p>
                                Our mission is to provide an environment to share the wisdom of yoga and 
                                wellness of a person. We offer services that can be accessed by any age group,
                                first-timers and even experienced professionals. We believe that performing yoga
                                on a daily basis improves posture, increases flexibility, builds muscle strength, 
                                boosts metabolism and keeps you away from various ailments. Research also suggests 
                                that regular practice of yoga calms your body and improves a persons mental well-being.
                                A happy body results in a peaceful mind and we try our best to provide you that.
                            </p>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

        <div id="Surya Salution" class="discount wow zoomIn" data-wow-delay="0.1s">
            <div class="container">
                <div class="section-header text-center">
                    
                    <h2><span>Surya Namaskar</span></h2>
                </div>
                <div class="container discount-text">
                    <p>
                        Surya Namaskar is a salutation performed to the Sun offering gratitude and love for the life-giving energy that it provides. The sun represents energy, power, and vitality. 
                        Improve your sleep as it helps combat insomnia and reduces stress levels. This is especially beneficial for women as it ensures regular menstrual cycle. 
                    </p>
                    <a target="_blank" class="btn" href="https://www.youtube.com/watch?v=PjwLlGXxeP4"><i class="fa fa-play" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <!-- Service Start -->
        <div id="yoga with health" class="service">
            <div class="container">
                <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <p>What We Do</p>
                    <h2>Yoga</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-workout"></i>
                            </div>
                            <h3>Reverse Warrier</h3>
                            <p>
                                This pose helps reduce stress and tensions stored either in the rib cage or back muscles. 
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-workout-2"></i>
                            </div>
                            <h3>Parivrtta Parsvakonasana</h3>
                            <p>
                                This posture is maintains the blood flow and helps in detoxifying the toxins present in the body.
                            </p>
                        </div>
                    </div>
 
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="1s">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-yoga-pose"></i>
                            </div>
                            <h3>Anjaneyasana </h3>
                            <p>
                                The moon-shaped backbend opens the frontal chest and enhances blood circulation to the heart and lungs.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->


        <!-- Class Start -->
        <div id="Yoga" class="class">
            <div class="container">
                <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <!-- <p>Our Classes</p> -->
                    <h2> Yoga Tutorial </h2>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ul id="class-filter">
                            <li data-filter="*" class="filter-active">Asanas</li>
                            <li data-filter=".filter-1">Beginner Asanas</li>
                            <li data-filter=".filter-2">Intermediate Asanas</li>
                            <li data-filter=".filter-3">Advanced Asanas</li>
                        </ul>
                    </div>
                </div>
                <div class="row class-container">
                    <div class="col-lg-4 col-md-6 col-sm-12 class-item filter-1 wow fadeInUp" data-wow-delay="0.0s">
                        <div class="class-wrap">
                            <div class="class-img">
                                <img src="/static/img/class-1.jpg" alt="Image">
                            </div>
                            <div class="class-text">
                                <div class="class-teacher">
                                   
                                    <h3>Pilates Yoga</h3>
                                    <a target="_blank" href="https://www.youtube.com/watch?v=HB1mzwjRwgI"><i class="fa fa-play" aria-hidden="true"></i></a>
                                </div>
                                <!-- <h2>Pilates Yoga</h2> -->
                                <div class="class-meta">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 class-item filter-2 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="class-wrap">
                            <div class="class-img">
                                <img src="/static/img/class-2.jpg" alt="Image">
                            </div>
                            <div class="class-text">
                                <div class="class-teacher">
                                    
                                    <h3>Iyengar Yoga</h3>
                                    <a target="_blank" href="https://www.youtube.com/watch?v=5KrDlrmsRrU"><i class="fa fa-play" aria-hidden="true"></i></a>
                                </div>
                                <!-- <h2>Iyengar Yoga</h2> -->
                                <div class="class-meta">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 class-item filter-3 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="class-wrap">
                            <div class="class-img">
                                <img src="/static/img/class-3.jpg" alt="Image">
                            </div>
                            <div class="class-text">
                                <div class="class-teacher">
                                   
                                    <h3>Ashtanga yoga</h3>
                                    <a target="_blank" href="https://www.youtube.com/watch?v=pzSLOAsd0uU"><i class="fa fa-play" aria-hidden="true"></i></a>
                                </div>
                                <!-- <h2>Ashtanga yoga</h2> -->
                                <div class="class-meta">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 class-item filter-1 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="class-wrap">
                            <div class="class-img">
                                <img src="/static/img/class-4.jpg" alt="Image">
                            </div>
                            <div class="class-text">
                                <div class="class-teacher">
                                    
                                    <h3>Hatha Yoga</h3>
                                    <a target="_blank" href="https://www.youtube.com/watch?v=WyHkJF9LDRg"><i class="fa fa-play" aria-hidden="true"></i></a>
                                </div>
                                <!-- <h2>Hatha Yoga</h2> -->
                                <div class="class-meta">
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 class-item filter-2 wow fadeInUp" data-wow-delay="0.8s">
                        <div class="class-wrap">
                            <div class="class-img">
                                <img src="/static/img/class-5.jpg" alt="Image">
                            </div>
                            <div class="class-text">
                                <div class="class-teacher">
                                    <!-- <img src="img/teacher-5.png" alt="Image"> -->
                                    <h3>Kundalini Yoga</h3>
                                    <a target="_blank" href="https://www.youtube.com/watch?v=-DO_GgchYPA"><i class="fa fa-play" aria-hidden="true"></i></a>
                                </div>
                                <!-- <h2>Kundalini Yoga</h2> -->
                                <div class="class-meta">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 class-item filter-3 wow fadeInUp" data-wow-delay="1s">
                        <div class="class-wrap">
                            <div class="class-img">
                                <img src="/static/img/class-6.jpg" alt="Image">
                            </div>
                            <div class="class-text">
                                <div class="class-teacher">
                                    <!-- <img src="img/teacher-6.png" alt="Image"> -->
                                    <h3>Vinyasa yoga</h3>
                                    <a target="_blank" href="https://www.youtube.com/watch?v=bzSpwM9LiRs"><i class="fa fa-play" aria-hidden="true"></i></a>
                                </div>
                                <!-- <h2>Vinyasa yoga</h2> -->
                                <div class="class-meta">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Class End -->
 
        <!-- Footer End -->
        <div class="copyright">
            <p>© 2022 Women Health Monitor by CG Millennial Garage <a href="http://www.capgemini.com/"> <strong>Capgemini</strong></a></p>
         </div>
      </div>

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="/static/lib/easing/easing.min.js"></script>
        <script src="/static/lib/wow/wow.min.js"></script>
        <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="/static/lib/isotope/isotope.pkgd.min.js"></script>
        <script src="/static/lib/lightbox/js/lightbox.min.js"></script>
        
        <!-- Contact Javascript File -->
        <script src="/static/mail/jqBootstrapValidation.min.js"></script>
        <script src="/static/mail/contact.js"></script>

        <!-- Template Javascript -->
        <script src="/static/js1/main.js"></script>
    </body>
</html>
